body {
  background-color: rgb(177, 177, 218);
}

img {
  width: 5rem;
  height: 5rem;
}

.game {
  display: flex; 
}

.game-board {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

